h1 {
    text-decoration: underline darkred;

}

h2 {

    text-decoration: underline darkred;

}

h3 {


    font-size: 20px;
    text-decoration: underline darkred;

}

.Movies {
    margin: auto;
    width: 200px;
    background-color: darkred;

}

.Artists {
    margin: auto;
    width: 200px;
    background-color: darkred;

}

.Books {
    margin: auto;
    width: 200px;
    background-color: darkred;

}


#text {
    text-align: center;
}
