h1 {
    text-decoration: underline darkred;
    text-align: center;

}

h2 {
    text-align: center;
    text-decoration: underline darkred;
}

h3 {
       poistion:relative:10px;
    text-align:center;


}

p{
    text-align:center;
}

#Hobbies{
    margin:auto;
width:200px;
    background-color:darkred;

}
.text{
    position:relative;
    top:50px;
}
