h1 {
    text-decoration: underline darkred;
    text-align: center;
    margin-left: 200px;

}


.table {
    position: static;
    margin-left: 600px;

    border-color: darkred;
    margin: 0px;



}


.img1 {
    border: 1mm ridge darkred;
    position: relative;
    right: 500px;

}
