h1 {
    text-decoration: underline darkred;
    text-align: center;
    margin-left: 200px;

}


.table {
    position: relative;
    margin-left: 230px;
    border-color: darkred;

}


td {
    padding: 10px;
}
